# Ignore .env and other secrets
.env
.env.*

# Ignore Python cache
__pycache__/
**/__pycache__/
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
.venv/
venv/

# Ignore all that start with .
.*.*