# Ignore .env and other secrets
.env
.env.*

# Ignore Python cache
__pycache__/
**/__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
.venv/
venv/
*.log

# Ignore all that start with .
.*.*
.*
# Ignore session cookies
.udst{}_playwright_session.json
!.streamlit
!.streamlit\config.toml