# --- common utils ---
pandas==2.2.2
numpy==1.26.4
ijson

# --- fetch_arxiv --- 
requests==2.31.0 # API calls to arXiv
feedparser==6.0.11

# --- LLMs ---
openai>=1.13.3 # API used for FANAR
python-dotenv==1.0.1  # Load .env file

# --- JSON streaming ---
ijson

# --- PDF to Markdown ---
pypandoc==1.13
PyMuPDF==1.24.9

# -- requirements for grobid ---
beautifulsoup4==4.14.2
certifi==2025.10.5
charset-normalizer==3.4.3
idna==3.10
lxml==6.0.2
requests==2.32.5
soupsieve==2.8
typing_extensions==4.15.0
urllib3==2.5.0
